In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from rdkit import Chem
%matplotlib inline

In [2]:
homedir = os.path.expanduser("~/")
homedir = homedir+"AIChem/chemnet/chemnet/data/"
ref_df = pd.read_csv(homedir+"tox_niehs_desc_minmax.csv")

In [3]:
ref_df.head(5)

,id,0,1,2,3,4,5,6,7,8,...,177,178,179,180,181,182,183,184,185,186
0,molid12,0.019834,0.019384,0.409459,0.019836,0.001198,1.000000,0.016706,0.000000,0.006410,...,0.023769,0.017412,0.020800,0.016502,0.026877,0.026773,0.020584,0.022531,0.021452,0.555834
1,molid52,0.012948,0.013462,0.387455,0.013694,0.014388,0.000000,0.014320,0.020202,0.012821,...,0.015560,0.012994,0.011340,0.009096,0.016077,0.014970,0.012589,0.010865,0.008678,0.538065
2,molid63,0.009469,0.008857,0.389399,0.010760,0.009621,1.000000,0.009547,0.020202,0.006410,...,0.015385,0.014060,0.010342,0.000000,0.016194,0.014801,0.013621,0.009909,0.000000,0.510265
3,molid70,0.015743,0.016802,0.419465,0.011864,0.000000,0.333333,0.009547,0.000000,0.000000,...,0.009318,0.005236,0.002861,0.000843,0.017316,0.016058,0.010583,0.008225,0.007236,0.475104
4,molid256,0.012278,0.012747,0.357929,0.007879,0.021273,0.666667,0.011933,0.020202,0.019231,...,0.011785,0.010292,0.005740,0.000000,0.014173,0.011338,0.009970,0.005499,0.000000,0.475551

# Generate MLP Dataset

In [4]:
# Find computed descriptors and generate dataset for MLP input data

def create_array(filelist, task):

    for name in filelist:
        df = pd.read_csv(homedir+name+".csv")
        df = df.drop('smiles', axis=1)
        combined_df = pd.merge(df, ref_df, how="left", on=["id"])
        combined_df = combined_df.drop('id', axis=1)
        combined_df.to_csv(homedir+name+"_rdkit.csv", index=False)

In [5]:
filelist = ['tox_niehs_tv_verytoxic',
            'tox_niehs_int_verytoxic']

create_array(filelist, "verytoxic")

In [6]:
filelist = ['tox_niehs_tv_nontoxic',
            'tox_niehs_int_nontoxic']

create_array(filelist, "nontoxic")

In [7]:
filelist = ['tox_niehs_tv_epa',
            'tox_niehs_int_epa']

create_array(filelist, "epa")

In [8]:
filelist = ['tox_niehs_tv_ghs',
            'tox_niehs_int_ghs']

create_array(filelist, "ghs")

In [9]:
filelist = ['tox_niehs_tv_logld50',
            'tox_niehs_int_logld50']

create_array(filelist, "logld50")