In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from rdkit import Chem
%matplotlib inline

In [2]:
homedir = os.path.expanduser("~/")
homedir = homedir+"AIChem/chemnet/chemnet/data/"
df = pd.read_csv(homedir+"tox_niehs_all_int.csv")

# Split data by task

In [3]:
# There are 5 measurements: very_toxic, nontoxic, EPA_category, GHS_category and LD50_mgkg
# Make dataset for each of the measurements separately

In [4]:
# Very Toxic

In [5]:
# Check for missing labels
df['verytoxic'].isnull().sum()

0

In [6]:
# Drop data with missing labels
df1 = df[['id','smiles','verytoxic']]
df1 = df1.dropna(axis=0, how='any')
print("Missing data:" +str(df1['verytoxic'].isnull().sum()))
df1.to_csv(homedir+"tox_niehs_int_verytoxic.csv", index=False)
df1.groupby('verytoxic').count()

Missing data:0

            id  smiles
verytoxic
0.0        758     758
1.0         70      70

In [7]:
# Non Toxic

In [8]:
# Check for missing labels
df['nontoxic'].isnull().sum()

0

In [9]:
# Drop data with missing labels
df1 = df[['id','smiles','nontoxic']]
df1 = df1.dropna(axis=0, how='any')
print("Missing data:" +str(df1['nontoxic'].isnull().sum()))
df1.to_csv(homedir+"tox_niehs_int_nontoxic.csv", index=False)
df1.groupby('nontoxic').count()

Missing data:0

           id  smiles
nontoxic
0.0       472     472
1.0       356     356

In [10]:
# EPA

In [11]:
df['epa'].isnull().sum()

8

In [12]:
# Drop data with missing labels
df1 = df[['id','smiles','epa']]
df1 = df1.dropna(axis=0, how='any')
print("Missing data:" +str(df1['epa'].isnull().sum()))
df1.to_csv(homedir+"tox_niehs_int_epa.csv", index=False)
df1.groupby('epa').count()

Missing data:0

      id  smiles
epa
0.0   70      70
1.0  171     171
2.0  433     433
3.0  146     146

In [13]:
# GHS

In [14]:
df['ghs'].isnull().sum()

2

In [15]:
# Drop data with missing labels
df1 = df[['id','smiles','ghs']]
df1 = df1.dropna(axis=0, how='any')
print("Missing data:" +str(df1['ghs'].isnull().sum()))
df1.to_csv(homedir+"tox_niehs_int_ghs.csv", index=False)
df1.groupby('ghs').count()

Missing data:0

      id  smiles
ghs
0.0   17      17
1.0   53      53
2.0  101     101
3.0  299     299
4.0  356     356

In [16]:
# LD50

In [17]:
df['logld50'].isnull().sum()

201

In [18]:
# Drop data with missing labels
df1 = df[['id','smiles','logld50']]
df1 = df1.dropna(axis=0, how='any')
print("Missing data:" +str(df1['logld50'].isnull().sum()))
df1.to_csv(homedir+"tox_niehs_int_logld50.csv", index=False)
print(df1['logld50'].max(axis=0), df1['logld50'].min(axis=0))

Missing data:0
11.0020998412 0.0198026272962